header {
    margin: 10px 0 0 10px;
}

/* Make glyphicons bigger */
span.glyphicon {
    font-size: 25px;
}

/* Settings below are for the default state of the side menu and body */
/* So that when the body text is pushed off screen it gets that hidden affect, no scrollbar */
.menu {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.menu-side {
    position: fixed;
    top: 0;
    left: -231px;
    border-right: 1px solid #000;
    background-color: black;
    color: white;
    width: 210px;
    height: 100%;
    padding: 10px;
}

/* Settings for when the side menu is opened */

.menu-open {
    left: 231px;
}

.menu-open .menu-side {
    left: 0;
}

.menu-toggled, .menu-toggled:hover {
    color: red;
}

/* Transition effect for menu slide out */
.menu-side, .menu {
    -webkit-transition: left 500ms ease;
    transition: left 500ms ease;
}